<%- include("partials/header.ejs") %>
    <style>
    .wrapper{
        overflow-x: hidden;
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }
    .banner-bg{
        background-image: linear-gradient(65deg, #FFFEFF 0%, #D7FFFE 30%, #90F9C4 26%);
        height: 400px;
        box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
        background-attachment: fixed;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    h1,h2,h3{
        text-transform: capitalize;
    }
    ul li{
        list-style-type: none;
    }
    p{
        font-size: 17px;
        word-spacing: 4px;
    }
    .image-card{
        border-radius: 0px;
    }
    .card{
        width: 400px;
        border: 2px solid #90F9C4;
        box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
    }
    .overlay{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: 'molengo', sans-serif;
        font-size: 40px;
    }
    .bg-success{
        background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 34%);
    }
    @media only screen and (max-width: 768px){
     .banner-bg{
        background-image: linear-gradient(65deg, #FFFEFF 0%, #D7FFFE 30%, #90F9C4 26%);
        height: 350px;
        background-attachment: fixed;
    }
     .btn{
        background-color: #16c892;
        text-transform: capitalize;
        font-size: 12px;
        padding: 9px;
    }
    .overlay{
        font-size: 30px;
    }
    .image-card{
        height: 320px;
        width: 100%;
    }
    }
    </style>
    <div class="wrapper">
        
    <section class="banner-bg">         
                            
        <div class="show-login-btn" style="position: fixed; padding: 25px; color: black; z-index: 999;">
        <i class="fas fa-bars fa-3x "></i>
        </div>
        <h3 class="overlay text-center font-weight-light"><%= results[0].title %></h3>
        <%- include("partials/sidebar.ejs") %>
      
    </section>
    <div class="row d-flex justify-content-center">
        <div class="m-3">
            <div class="image-card d-flex justify-content-center">
                    <img class="w-100" style="min-height: 320px; min-width: 320px; max-width: 600px; max-height: 600px;" src="data:image/jpeg;base64,<%= results[0].image %>" alt="" srcset="">
                </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 rounded mb-5" style="box-shadow: 0 0 20px 0 rgba(72,94,116,0.3); background-color: white;">
    <div class="m-3 text-justify">        
        <% split = content[0].split("\n"); %>               
        <% for(i=0;i< split.length;i++){ %>
        <% if(split[i].length <= 2){ %>
                <% i++; %>
        <% } else { %>
            <% split[i] = split[i].replace(/\@/g,",") %>             
            <% split[i] = split[i].replace(/\$/g,"'") %>
            <% split[i] = split[i].replace(/\^/g,"’") %>
            <% split[i] = split[i].replace(/\#/g,"`") %>
            <% if(split[i].length < 65){ %>
               <p class="text-primary font-weight-bold" style="font-size: 25px;"><i class="fas fa-angle-double-right mx-2"></i><%= split[i] %></p>
               <hr align="left" class="w-75 my-3">
               <% }else{ %>
               <p class="text-primary font-weight-bold" style="font-size: 18px"><%= split[i] %></p>    
               <% } %>
        <% } %>
          <% } %>
    </div>
</div>
    </div>
</div>

<%- include("partials/footer.ejs") %>